STEAM_API_KEY=
# You can generate a Steam API key here:
# Make sure you set the domain to "localhost" if you don't plan to host an instance. Otherwise, put the domain you are hosting your instance on

MULTI_USER= FALSE
# If set to "TRUE", you can have anyone use their ID to see a random game they own using your key or BYOLK (Bring your own Local Key).
# If set to "FALSE", you can put your steam ID below and you'll always get a random game you own

STEAM_ID=
# You can easily get any and all of your IDs via the SteamDB calculator at: https://steamdb.info/calculator